#type of url
#http://proger.estiscloud.pro/integration/insaledsfs/dsdsfsdfsdfsdgsdg/

RewriteEngine On    # Turn on the rewriting engine
RewriteBase /

#rewrite /{{system}}/{{action}}/ url to main index file
RewriteRule ^([^\/]+)/([^\/]+)\/?(?:\?(.*))?$ integration/index.php?system=$1&action=$2&$3 [QSA,N,L]
